---
import ServiceCard from "../components/ServiceCard";
import Layout from "../layouts/Layout.astro";
---

<Layout >
    <div  class="container m-auto mt-10">
        <h2 class="mb-10 font-bold">Services</h2>
        <ServiceCard title="httpcat" description="http.cat on decentralized storage" slug="httpcat"  />
    </div>
</Layout>
